.card {
    display: flex;
    flex-direction:column-reverse;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 60vh) {
    .card {
        width: 20vh;
        height: 34.4vh;
    }
}

@media screen and (max-width: 60vh) {
    .card {
        width: 32vw;
        height: 55vw;
    }
}

.card-name {
    background-color: rgba(0, 0, 0, 0.7);
}

.character-type {
    flex-grow: 1;
}

.character-type > img {
    max-width: 3vh;
    margin-left: .8vh;
    margin-top: .8vh;
}

.card-name > p {
    font-size: 1.1em;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    min-width: 100%;
    color: white;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
}

.card:hover {
    background-size: 102%;
}