.card {
    display: flex;
    flex-direction:column-reverse;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vh;
    height: 34.4vh;
}

.card-name {
    background-color: rgba(0, 0, 0, 0.7);
}

.card-name > p {
    min-width: 100%;
    color: white;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    background-size: 102%;
}