#cardList {
    display: flex;
    flex-wrap: wrap;
    background-color: #c9c9c9;
    justify-content: center;
    transition: height;
    transition-duration: 500ms;
}

@media screen and (max-width: 800px) {
    #cardList.character-selected {
        display: none;
    }

    #cardList {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 800px) {
    #cardList {
        padding: 3vh 8vw 3vh 8vw;
    }

    #cardList.character-selected {
        max-width: 50.5%;
    }

    #cardList.character-selected > div > .card {
        width: 14.1vh;
        height: 24.25vh;
    }
}