#cardList {
    display: flex;
    flex-wrap: wrap;
    background-color: #c9c9c9;
    justify-content: center;
}

.sticky + #cardList {
    padding-top: 70px;
}

div[style*="opacity: 0"] {
    display: none !important;
    background-color: red;
}