.card {
    display: flex;
    flex-direction:column-reverse;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vh;
    height: 34.4vh;
    background-color: rgba(0, 0, 0, 0.15);
}

.card-name {
    background-color: rgba(0, 0, 0, 0.7);
}

.card-name > p {
    font-size: 1.1em;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    min-width: 100%;
    color: white;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
}

.card:hover {
    background-size: 102%;
}