#counterList {
    display: flex;
    flex-wrap: wrap;
    background-color: #c9c9c9;
    justify-content: center;
    transition: height;
    transition-duration: 500ms;
}


@media screen and (min-width: 800px) {
    #counterList {
        position: fixed;
    }
}