.counter-container {
    display: flex;
    flex-direction: column;
}

.counter-filter {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.counter-filter > div {
    display: flex;
    max-width: 50vw;
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    font-family: RobotoCondensed-Regular, sans-serif;
    text-transform: uppercase;
    color: white;
}

.counter-filter > .strong-against {
}

.counter-filter > .strong-against.selected,
.counter-filter > .weak-against.selected {
    background-color: #f99e1a !important;
}

.counter-filter > .strong-against,
.counter-filter > .weak-against {
    background-color: #a86b12;
}

@media screen and (min-width: 800px) {
    .counter-filter {
        min-height: 5vh;
    }
    .counter-filter > .strong-against div.selected > p,
    .counter-filter > .strong-against:hover > p,
    .counter-filter > .weak-against:hover > p {
        font-size: 1.1rem;
        margin: .9rem -.3rem .9rem -.4rem;
    }
}

@media screen and (max-width: 800px) {
    .counter-filter {
        min-height: 6vh;
    }
    .counter-filter > .strong-against div.selected > p,
    .counter-filter > .strong-against:hover > p,
    .counter-filter > .weak-against:hover > p {
        font-size: 1.1rem;
        margin: .9rem 0 .9rem 0;
    }
}