.footer {
    background-color: #000000;
    min-height: 50px;
    min-width: 100%;
    bottom: 0;
    color: #c9c9c9;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Montserrat-Bold, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.footer > span {
    min-height: 100%;
    align-self: center;
    margin: 0 10px 0 10px;
    letter-spacing: .03em;
}

@media screen and (max-width: 800px) {
    .footer {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 800px) {
    .footer > span {
        font-size: .8rem;
    }
}

.footer > img:hover {
    min-width: 2.3rem;
    margin: -.15rem;
}

.footer.character-selected {
    min-width: 67.5% !important;
    max-width: 67.5% !important;
}