.main-filter {
    overflow: hidden;
    background-color: #a86b12;
    min-width: 100%;
    min-height: 70px;
    display: flex;
    align-content: center;
    z-index: 1;
}

.stickyPlaceHolder {
    background-color: #a86b12;
}

@media screen and (min-width: 800px) {
    .main-filter > .return-button {
        display: none !important;
    }
}

@media screen and (max-width: 800px) {
    .main-filter {
        position: fixed;
        bottom: 0;
        box-shadow: 0 -5px 5px 1px rgba(0, 0, 0, .3);
    }

    .main-filter > div > .filter-icon {
        max-height: 50px;
        margin-right: 2vw !important;
    }

    .scroll-up-button {
        max-width: 80px !important;
    }
}

@media screen and (max-width: 450px) {
    .main-filter.character-selected > div {
        justify-content: center !important;
    }
    .main-filter.character-selected > span{
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .main-filter > span {
        display: none;
    }

    .main-filter > div {
        justify-content: center !important;
    }

    .main-filter > div > .filter-icon {
        margin-right: 0 !important;
    }
}

.main-filter > .return-button {
    display: none !important;
}

.main-filter.character-selected > .return-button {
    display: flex !important;
}

.main-filter > span {
    color: white;
    font-family: Monstserrat-Regular, sans-serif;
    letter-spacing: .03em;
    font-weight: bold;
    margin-left: 2.5vh;
    min-width: 10vh;
    align-self: center;
    font-size: 1.2rem;
}

.main-filter > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-content: center;
    align-self: center;
    flex-grow: 1;
}

.main-filter > div > .filter-icon {
    max-height: 50px;
    margin-right: 20px;
}

.selected-filter {
    -webkit-filter: invert(30%) sepia(35%) saturate(3007%) hue-rotate(193deg);
    filter: invert(30%) sepia(35%) saturate(3007%) hue-rotate(193deg);
}

.main-filter > div > .filter-icon:hover {
    max-height: 56px;
    margin: -3px 17px -3px -3px;
}

.main-filter > .scroll-up-button,
.main-filter > .return-button {
    background-color: #232323;
    align-self: stretch;
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 80px;
}

.main-filter > .scroll-up-button > img:hover,
.main-filter > .return-button > img:hover {
    max-height: 51px;
    margin: 0 -3px 0 -3px;
}

.main-filter > .scroll-up-button > img,
.main-filter > .return-button > img {
    align-self: center;
    max-height: 45px;
}


.scroll-up-button > img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.return-button > img {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}